@font-face {
    font-family: 'MD-IO';
    src: url('/type/MD_IO_Medium.woff2');
    font-weight: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Franklin Stone Condensed';
    src: url('/type/Franklin_Stone_Condensed.woff2');
    font-weight: bold;
    font-display: swap; 
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
}

:root {    
    --gap: clamp(1.5rem,5vw,2.5rem);
    --small-gap: clamp(1rem,5vw,1.25rem);
    --body-font: 'MD-IO', monospace;
    --body-font-size: clamp(1.125rem,3vw,1.2rem);
    --heading-font: 'Franklin Stone Condensed', sans-serif, system-ui;
    --primary-color: #1A1A1A;
    --accent-color: #FF0000;
    --background-color: #FBFAF7;
}

:focus-visible {
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: unset;
    padding: 2rem 1rem;
    color: var(--primary-color);
    background-color: var(--background-color);
}

* + * {
    margin-block-start: var(--gap); 
}

.small-gap * + * {
    margin-block-start: var(--small-gap);
}

.margins-off > * {
    margin-block-start: 0;
}

.trumpwrap, main {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(4.25rem,15vw,8.5rem);
    line-height: 1.1;
}

section h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-block-start: 1rem;
}

p, a {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: 1.5;
    color: var(--primary-color);
    text-decoration: none;
}

#trumpdown {
    font-family: var(--body-font);
    font-size: clamp(1.85rem,4vw,2.5rem);
    text-align: center;
    color: var(--accent-color);
}

.fancy-pants-list {
    list-style: none;
    list-style-position: inside;
}

.red {
    color: var(--accent-color);
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--accent-color);
    }
    a.red:hover {
        text-decoration-color: var(--primary-color);
    }
}

.info-link, .back-link {
    display: flex;
    position: fixed;
    bottom: .5rem;
    right: 1rem;
}

.arrow {
    width: auto;
    height: clamp(12px,2vw,14px);
}

@media only screen and (max-width: 768px) {
    body {
        justify-content: flex-start; 
    }
}