@font-face {
    font-family: 'MD IO';
    src: url('/type/mdio_medium.woff2');
    font-weight: normal;
    font-display: swap; 
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
}

:root {    
    --gap: 1.25rem;
    --body: 'MD IO', monospace;
    --paragraph: calc(1.13rem + .425vw);
    --primary: #1A1A1A;
    --accent: #FF0000;
    --background: #FBFAF7;
}

:focus-visible {
    outline: 3px solid var(--primary);
    outline-offset: 2px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--body);
    font-size: var(--paragraph);
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--background);
}

main * + * {
    margin-block-start: var(--gap); 
}

.margins-off > * {
    margin-block-start: 0;
}

.acme-all-purpose-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem 1rem;
}

.trumpwrap {
    max-width: 50ch;
}

nav {
    width: 100%;
    margin: 0 1rem 1rem 0;
    text-align: right;
}

.acme-svg-wrapper {
    margin-block-start: 0;
}

svg {
    width: 73%;
    height: auto;
}

.center {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-block-start: 1rem;
}

#trumpdown {
    min-width: 17ch;
    margin-block-start: calc(var(--gap) * 2);
    font-family: var(--body);
    font-size: clamp(1rem, .9rem + 3.25vw, 2.5rem);
    color: var(--accent);
}

a {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--primary);
    text-underline-offset: 2px;
    text-decoration-skip-ink: all;
}

.red {
    color: var(--accent);
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--accent);
    }
    a.red:hover {
        text-decoration-color: var(--primary);
    }
}

.fancy-pants-list {
    list-style: none;
    list-style-position: inside;
}

.arrow {
    width: auto;
    height: calc(var(--paragraph) * .7);
}

.vh {
    position:absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    clip-path:inset(50%);
    white-space:nowrap;
}