@font-face {
    font-family: 'MD IO';
    src: url('/assets/type/mdio_medium.woff2');
    font-weight: normal;
    font-display: swap; 
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: #fff0;
}

:root {    
    --body: 'MD IO', monospace;
    --font-scale: clamp(1rem, .9rem + 3.5vw, 2.4rem);
    --primary: #1A1A1A;
    --accent: #FF0000;
    --background: #FBFAF7;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 2rem 1.5rem;
    font-family: var(--body);
    font-size: calc(var(--font-scale) * .6);
    line-height: 1.6;
    color: var(--primary);
    background-color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trumpwrap {
    max-width: 50ch;
}

.trumpwrap p {
    margin-block-start: 1.25rem; 
}

svg {
    width: 100%;
    max-width: 80%;
    height: auto;
    margin-block-end: calc(1.75rem + 1.5vw);
}

img {
    width: 100%;
    height: auto;
}

#trumpdown {
    margin-block-start: calc(1.75rem + 1.5vw);
    font-family: var(--body);
    font-size: var(--font-scale);
    color: var(--accent);
}

.center {
    text-align: center;
}

.vh {
    position: absolute;
    overflow :hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    white-space: nowrap;
}